<div class="basket">
  <div class="basket-header">
    <div class="basket-header_title">
      <div class="basket-header_title__name">My order</div>
      <div *ngIf="(products$ | async)?.length" class="basket-header_title__quantity">{{ (products$ | async)?.length }}</div>
    </div>
    <div class="basket-header_button" *ngIf="(products$ | async)?.length" (click)="openDialog();closeDialog()">Clear all</div>
  </div>
  <div *ngIf="!(products$ | async)?.length;else emptyBasket">
    <div class="basket-items">
      <div class="basket-items_item" *ngFor="let item of products$ | async" >
        <app-basket-item [basketItem]="item"></app-basket-item>
      </div>
    </div>
    <div class="basket-footer">
      <div class="basket-footer_title">
        <div class="basket-footer_title__name" >Total price</div>
        <div class="basket-footer_title__price">Currency  {{ totalPrice$ | async }}</div>
      </div>
      <button class="basket-footer_button"  (click)="confirmOrder()">Order</button>
    </div>
  </div>
</div>

<ng-template #emptyBasket>
  <div class="empty-basket_content">
    <img class="empty-basket_content__image" src="../../../../assets/box.png" width="200px" height="200px" />
    <div class="empty-basket_content__text">No products added</div>
  </div>
</ng-template>
