<div class="basket">
  <div class="basket-header">
    <div class="basket-header_title">
      <div class="basket-header_title__name">My order</div>
      <div *ngIf="(products$ | async)?.length" class="basket-header_title__quantity">{{ (products$ | async)?.length }}</div>
    </div>
    <div class="basket-header_button" *ngIf="(products$ | async)?.length"  mat-dialog-close (click)="openDialog()">Clear all</div>
  </div>
  <div *ngIf="(products$ | async)?.length;else emptybasket">
    <div class="basket-items">
      <div class="basket-items_item" *ngFor="let item of products$ | async" >
        <app-basket-item [basketItem]="item"></app-basket-item>
      </div>
    </div>
    <div class="basket-footer">
      <div class="basket-footer_title">
        <div class="basket-footer_title__name" >Total price</div>
        <div class="basket-footer_title__price">Currency  {{ totalPrice$ | async }}</div>
      </div>
      <button class="basket-footer_button"  (click)="confirmOrder()">Order</button>
    </div>
  </div>
  <ng-template #emptybasket>
    <div class="emty-basket_content">
      <img class="emty-basket_content__image" src="../../../../assets/box.png" />
      <div class="emty-basket_content__text">Select products</div>
    </div>
  </ng-template>
</div>
