<div class="home-container">
  <app-slider></app-slider>
  <router-outlet></router-outlet>
  <div class="search-bar">
    <div class="search-bar__categories" *ngFor="let category of categories">
      <button mat-button class="search-bar__categories-button" (click)="sortCategory(category)" >
        {{category | titlecase}}
      </button>
    </div>
    <button mat-button class="search-bar__reset-button" (click)="resetAllCategories()">
      Reset All Categories
    </button>
  </div>
  <app-product-card [products]="products"></app-product-card>
</div>
