<div class="profile-container">

  <div class="title">Edit Profile</div>

  <form [formGroup]="profileForm" (ngSubmit)="updateUserInfo()">

    <div>
      <label>Email:</label>
      <input type="email" formControlName="email" readonly>
    </div>

    <div>
      <label>First Name:</label>
      <input type="text" formControlName="firstName" placeholder="{{(userInfo$ | async)?.firstName || 'Adam'}}">
      <div *ngIf="isFieldInvalid('firstName')" class="error-message">Please enter a valid first name.</div>
    </div>

    <div>
      <label>Last Name:</label>
      <input type="text" formControlName="lastName" placeholder="{{(userInfo$ | async)?.lastName || 'Jensen'}}">
      <div *ngIf="isFieldInvalid('lastName')" class="error-message">Please enter a valid last name.</div>
    </div>

    <div>
      <label>Phone Number:</label>
      <input type="text" formControlName="phoneNumber" (input)="formatPhoneNumber($event)" placeholder="{{(userInfo$ | async)?.phoneNumber}}">
      <div *ngIf="isFieldInvalid('phoneNumber')" class="error-message">Please enter a valid phone number.</div>
    </div>

    <div>
      <label>Website URL:</label>
      <input type="url" formControlName="websiteUrl" placeholder="{{(userInfo$ | async)?.websiteUrl}}">
      <div *ngIf="isFieldInvalid('websiteUrl')" class="error-message">Please enter a valid URL.</div>
    </div>

    <button type="submit" [disabled]="profileForm.invalid">Save</button>

  </form>

</div>
