<div class="home-container">
  <div class="home-container__row">
    <div class="home-container__product col-sm-12 col-md-6 col-lg-4 col-xxl-3" *ngFor="let product of products">
      <mat-card class="product-card">
        <mat-card-title class="product-card__title">{{product.title}}</mat-card-title>
        <img class="product-card__image" mat-card-image src="{{product.image}}">
        <mat-card-content class="product-card__content">
          <p class="product-card__price">Цена: <span>{{product.price | currency}}</span></p>
          <p class="product-card__ingredients">{{product.description}}</p>
        </mat-card-content>
        <span class="product-card__spacer"></span>
        <mat-card-actions class="product-card__actions">
          <button
            class="product-card__button"
            mat-button
            (click)="addToBasket(product)"
            type="button"
          >
            В корзину
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
