@import '../../../../sass/constants'
@import 'src/app/sass/mixins'

.home-container
  @include flex(column, center, center)
  text-align: center

  app-slider
    width: 100vw

  .search-bar
    @include size(75vw, 50px)
    margin: 0 20px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15)

  &__product
    @include flex(column, center, center)

    .product-card
      min-width: 350px
      max-width: 500px
      height: 550px
      display: flex
      flex-direction: column
      background-color: #FFCA86
      align-items: center
      margin: 20px
      text-align: center

      &__title
        margin: 10px 0

      &__image
        width: 300px
        height: 300px
        margin-bottom: 10px

      &__content
        margin: 0 120px 16px 0

      &__ingredients
        margin: 20px 10px 0

      &__price
        margin: 10px
        font-size: $medium

      &__spacer


      &__actions
        .product-card__button

.mat-toolbar-row
  &.toolbar-editor
    background-color: #FFCA86
    width: 100%

  &.toolbar-price
    background-color: #FFCA86
    justify-content: center

    p
      margin-top: 12px
      font-weight: bold
      font-size: $medium
