<div class="home-container">

  <app-slider></app-slider>

  <div class="search-bar">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus enim ex minima similique voluptate. Alias amet consequuntur eius quam tenetur.
  </div>

  <div class="product-grid">
    <div class="product-card" *ngFor="let product of products">
      <mat-card>
        <mat-card-title class="product-card__title">{{product.title}}</mat-card-title>
        <img class="product-card__image" mat-card-image src="{{product.image}}">
        <mat-card-content class="product-card__content">
          <p class="product-card__price">Цена: <span>{{product.price | currency}}</span></p>
          <p class="product-card__ingredients">{{product.description}}</p>
        </mat-card-content>
        <mat-card-actions class="product-card__actions">
          <button class="product-card__button" mat-button (click)="addToBasket(product)" type="button">
            В корзину
          </button>
          <button class="product-card__button" mat-button type="button">
            Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>

