<div class="cart-item_wrapper">
  <div class="cart-item">
    <div class="cart-item_content">
      <div class="cart-item_content__image">
        <img class="photo" src="{{cartItem.image}}">
      </div>
      <div class="cart-item_content__description">
        <div class="description_title">{{ cartItem.title }}</div>
      </div>
    </div>
    <div class="cart-item_price">
      <div class="cart-item_price__stepper" (click)="decreaseProductQuantity(cartItem)">
        <img src="assets/minus.png" width="20px" height="20px">
      </div>

      <div class="cart-item_price__number">{{ cartItem.quantity }}</div>

      <div class="cart-item_price__stepper" (click)="increaseProductQuantity(cartItem)">
        <img src="assets/plus.png" width="20px" height="20px">
      </div>

      <div class="cart-item_price__text">${{ (cartItem.price * cartItem.quantity) | number:'1.2-2'  }}</div>

      <div class="cart-item_price__trash">
        <img
          src="assets/trash.png"
          (click)="removeProductFromCart(cartItem)"
          width="20px" height="20px"
        >
      </div>
    </div>
  </div>
</div>
