// fonts
$font-family: "Inter", Helvetica, sans-serif

// font-size
$default: 14px
$medium: 16px

// colors
$color-default: #435261
$color-default-complimentary: #958A64
$color-secondary: #8676b6
$color-secondary-complimentary: #F9FD99
$color-links: #2d6fb1
$color-error: #f44336
$white: #FFFFFF
