<div class="cart-item_wrapper">
    <div class="cart-item" [class.opacity]="basketItem.quantity === 0">
        <div class="cart-item_content">
            <div class="cart-item_content__image">
                <img class="photo" src="https://source.unsplash.com/collection/8613861/350x{{ 200 + basketItem.id }}">
            </div>
            <div class="cart-item_content__description">
                <div class="description_title">{{ basketItem.title }}</div>
            </div>
        </div>
        <div class="cart-item_price">
            <div class="cart-item_quantity">
                <div class="cart-item_quantity__minus" (click)="decreaseProductQuantity(basketItem)">
                  <img src="assets/minus.png"  width="20" height="20">
                <div class="cart-item_quantity__number">{{ basketItem.quantity }}</div>
                <div class="cart-item_quantity__plus" (click)="increaseProductQuantity(basketItem)">
                  <img src="assets/plus.png" width="20" height="20" >
                </div>
            </div>
        <div class="cart-item_price__text">Currency {{ basketItem.price }}</div>
            <img
                class="cart-item_price__icon"
                src="assets/trash.png"
                (click)="removeProductFromCart(basketItem)"
                width="50" height="50"
            >
        </div>
    </div>
</div>

