@use "@angular/material" as mat;

@include mat.core();

$codezilla-primary: (
  50: #e8e8f5,
  100: #c4c6e5,
  //main
  200: #9ea1d4,
  300: #797cc2,
  400: #5e60b5,
  500: #4444a8,
  600: #3e3c9e,
  700: #363293,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: white,
  ),
);

$codezilla-accent: (
  50: #fafce1,
  //main
  100: #f2f7b5,
  200: #e8f28a,
  300: #dfec62,
  400: #d7e740,
  500: #d1e313,
  600: #c4d009,
  700: #b3ba00,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
  ),
);

$codezilla-warn: (
  50: #ffe8eb,
  100: #ffc4cb,
  //main
  200: #fd8a8a,
  300: #f25b5e,
  400: #f72f37,
  500: #f70a16,
  600: #e90018,
  700: #d70014,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
  ),
);

$codezilla-primary: mat.define-palette($codezilla-primary, 200);
$codezilla-accent: mat.define-palette($codezilla-accent, 100);
$codezilla-warn: mat.define-palette($codezilla-warn, 200);

$codezilla-theme: mat.define-light-theme(
  (
    color: (
      primary: $codezilla-primary,
      accent: $codezilla-accent,
      warn: $codezilla-warn,
    ),
  )
);

@include mat.all-component-themes($codezilla-theme);

//redefining materialUI styles here because sass does not work
.snackbar-awesome {
  --mdc-snackbar-container-color: #9ea1d4;
}
